.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
  height: auto;
}

.title {
  color: #f4f4f4;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 50px;
  min-height: calc(100vh - 183px);
}

.shortner {
  width: 100%;
  background: #fff;
  padding: 24px 20px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 5px;
}

.linkFieldButton {
  width: 120px;
}

.footer {
  text-align: center;
}
